:root {
  --branding-color: #c88999;
  --secondary-color: #ffd1dc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 76px;
}
h3 {
  padding: 10px 20px;
}
p {
  font-weight: normal;
}
.hero {
  text-align: center;
  padding: 170px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272242;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  line-height: 27px;
  transition: all 150ms ease-in-out;
  margin: 10px;
}
.contact {
  padding: 15px 30px;
}
.work {
  padding: 15px 45px;
}

.btn-branding:hover {
  background-color: transparent;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
